.leftaside{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.leftaside-hot{
    color: #969696;
}
.leftaside-hot .iconfont{
    color: #969696;
}
.leftaside-hot-list-ul li{
    width: 100%;
    height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    
    font-size: 14px;
    cursor: pointer;
}
.leftaside-hot-list-ul li:hover{
    background: #EFEFFF; 
}
.leftaside-hot-list-ul a:hover{
    color: #4BA4FD;
}
.leftaside-hot-list-ul a{
    color: #969696;
}
.leftaside-table-list{
    padding: 0 15px;
    box-sizing: border-box;
}
.leftaside-table-list .ant-tag {
    margin-bottom: 10px;
    cursor: pointer;
}
.leftaside-header{
    height: 200px;
    
}
.leftaside-header-imgs {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.leftaside-header-imgs img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
}
.leftaside-header-next{
    height: 50px;
    width: 100%;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
}
.leftaside-header-next i{
    margin-right: 5px;
}
.leftaside-header-next a{
    color: #8A8A8B;
}