/*
 * CSS样式表重置初始化样式，PC端
 */
body,p,div,ul,li,form,input,td,tr,th,div{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
}
ul,li{
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
	display: block;
}
a{
	text-decoration: none;
	color: #002be5;
}
a:hover{
	text-decoration: none;
}
a img{
	border: 0;
}
em{
	color: #e50000;
	font-style: normal;
}
button{
	cursor: pointer; /*鼠标光标的类型*/
}
input,textarea{
	outline: none;
	appearance: none;
}
textarea{
	resize: none;
	overflow: auto;
}
table{
	border-collapse: collapse;
}
em{
	font-style: normal;
}
